body {
	margin: 0px;
	padding: 0px;
}

menu {
	display: block;
	position: fixed;
	top: 0px;
	right: auto;
	bottom: 0px;
	left: 0px;
	margin: 0px;
	padding: 16px;
	width: 20%;
	color: #ffffff;
	background: #222222;
}

header {
	display: block;
	position: fixed;
	color: #ffffff;
	background: #222222;
	top: 0px;
	right: 0px;
	bottom: auto;
	left: 0;
	height: 64px;
	z-index: 2;
}

header h3 {
	font: bold 32px/64px 'Ubuntu Mono';
	margin: 0px;
	padding: 0px;
	text-align: center;
}

main {
	display: block;
	position: absolute;
	top: 64px;
	right: 0px;
	bottom: 0px;
	left: calc(20% + 32px);
	color: #222222;
	background: #ffffff;
	font-size: 24px;
	/* OLD overflow */
	/* overflow: auto; */
	overflow: hidden;
	z-index: 1;
}

/*
 * MAIN
 */

main > section {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

main > section {
	transform: translate(100%, 0%);
	transition: transform 300ms ease-out;
}

main > section:target {
	left:0%;
	transform: translate(100%, 0%);
	transition: transform 300ms ease-out;
}



/*
 * MENU
 */
 menu {
	 top : 64px;
 }

menu li {
	display: block;
	list-style: none;
	font: bold 24px/48px 'Ubuntu Mono';
	text-align: right;
}

menu a {
	color: #ffffff;
	text-decoration: none;
}

menu a:hover {
	color: #ff0000;
}

menu a:active {
	color: #b30000;
	background-color : #ffffff
}

table, th, td {
	border: 1px
	solid black;

}

table{
		border-collapse : collapse;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
